<h1> Infos </h1>
<p>Ce site a été réalisé avec Rails et Materialize. </p>
<p>Février 2021 - Cours MAS-RAD - FMR - Ruby on Rails </p>
<p> <a href="https://github.com/UfukArslan/tchop-rails" target="_blank"> Repository github </a> </p>
<p>Ufuk Arslan et Anthony Malerba  </p>
