
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <li><a class="btn-floating red" href="<%= new_city_path %>"><i class="material-icons">location_on</i></a></li>
        <li><a class="btn-floating red darken-1" href="<%= new_restaurant_path %>"><i class="material-icons">food_bank</i></a></li>
      </ul>
    </div>