
    <nav>
      <div class="nav-wrapper">
        <div class="container">      
          <a href="/" class="brand-logo">Tchop'resto</a>    
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
            <li><a href="/cities">Cities</a></li>
            <li><a href="/info">Infos</a></li>
          </ul>
        </div>
      </div>
    </nav>